editors:
  - version: 2019.3
platforms:
  - name: win
    type: Unity::VM::GPU
    image: renderstreaming/win10:latest
    flavor: b1.large
    copy_sample_command: copy_sample.cmd
    run_editor_tests_command:  run_editor_tests.cmd
    import_unity_package_command: import_unity_package.cmd
    unity_path: .Editor\Unity.exe
    test_params:
      - backend: mono
        platform: editmode
      - backend: mono
        platform: playmode
      - backend: mono
        platform: standalone
      - backend: il2cpp
        platform: standalone    
  - name: mac
    type: Unity::VM::osx
    image: buildfarm/mac:stable
    flavor: m1.mac
    copy_sample_command: ./copy_sample.sh
    run_editor_tests_command:  ./run_editor_tests.sh
    import_unity_package_command: ./import_unity_package.sh    
    unity_path: .Editor/Unity.app/Contents/MacOS/Unity
  - name: linux
    type: Unity::VM::GPU
    image: renderstreaming/ubuntu-18.04:latest
    flavor: b1.large
    copy_sample_command: ./copy_sample.sh
    run_editor_tests_command:  ./run_editor_tests.sh
    import_unity_package_command: ./import_unity_package.sh
    unity_path: .Editor/Unity