body {
  margin: 0px;
}

#player {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #323232;
}

#player:before {
  content: "";
  display: block;
  padding-top: 66%;
}

#playButton {
  width: 15%;
  max-width: 200px;
  cursor: pointer;
}

#Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#VideoThumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

#greenButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 160px;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#blueButton {
  position: absolute;
  bottom: 10px;
  left: 180px;
  width: 160px;
  background-color: #447FAF;
  /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#orangeButton {
  position: absolute;
  bottom: 10px;
  left: 350px;
  width: 160px;
  background-color: #FF7700;
  /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#fullscreenButton {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 32px;
  height: 32px;
}