# References
# https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/editorconfig-code-style-settings-reference.md#example-editorconfig-file

###############################
# Core EditorConfig Options   #
###############################

root = true

# All files
[*]
indent_style = space

# Code files
[*.{ts,js,json,html}]
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
charset = utf-8-bom
trim_trailing_whitespace = true